@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1436891620584-47fd0e565afb?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHNreXxlbnwwfHwwfHx8MA%3D%3D');
}

.container {
  width: 420px;
  background: transparent;
  color: white;
  border-radius: 20px;
  padding: 30px 40px;
}
.container h1 {
  font-size: 36px;
  text-align: center;
}
.container .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: white;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.container .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: -15px 0 15px;
}
.remember-forgot label input {
  accent-color: white;
  margin-right: 3px;
}
.remember-forgot a {
  color: white;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.container .btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background: white;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.container .register-link {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
}
.register-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}
